@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255,255,255, 0.5);
    --surface-color: rgba(255,255,255, 0.05);
    --surface-color-hover: rgba(0,0,0,0.2);
    --color-icon: #ffffff;
    --color-footer: rgba(255,255,255, 0.5);
    --switch-bg-url: url('./assets/moon-stars.svg');
}

.ligth {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0,0,0,0.5);
    --surface-color: rgba(0 , 0, 0, 0.05);
    --surface-color-hover: rgba(0,0,0,0.2);
    --color-icon: #000000;
    --color-footer: #000;
    --switch-bg-url: url('./assets/sun.svg');
}

body {
    /* color, image, repeat, position/size*/
    background: var(--bg-url) no-repeat top center/cover;
    color: var(--text-color);
}

#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;

}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

/*switch*/

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
    margin-top: 20px;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.ligth #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--stroke-color);
    border: 1px solid var(--stroke-color);
    --webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.containerTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: -5px;
}

.container p {
    font-weight: 500;
    line-height: 24px;
}

/*links*/

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;
    text-decoration: none;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    color: var(--text-color);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-weight: 500;
    transition: background 0.3s;
}

ul li img {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 24px 0;
    font-size: 24px;
    
}

.ligth1 {
    
    border: none;
    border-radius: 25%;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
    color: var(--color-icon);
}

#social-links a:hover {
    background: var(--surface-color-hover);
    padding: 16px;
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-footer);
}